.skills
  &__section-header
    margin-top 1.191185229rem

  &__skill-box
    display flex
    flex-direction row
    flex-wrap wrap
    justify-content space-around

  &__skill-item
    flex 0 0 350px
    margin-top 1.45rem
    text-align center

  &__title
    font-size 1.65rem
    text-transform uppercase
    text-align center

  &__dot-progress-bar
    margin-top 0.75rem