.skills__section-header
  margin-top 1.191185229rem

.skills__skill-box
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content space-around

.skills__skill-item
  flex 0 0 350px
  margin-top 1.25rem
  text-align center
  &:first-child
    margin-top 1.1rem

.skills__title
  text-transform uppercase
  text-align center
  line-height initial

.skills__dot-progress-bar
  margin-top 0.536033353rem