.skills__section-header
  margin-top 1.191185229rem

.skills__skill-box
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content space-around

.skills__skill-item
  flex 0 0 350px
  margin-top 1.45rem
  text-align center

.skills__title
  font-size 1.65rem
  text-transform uppercase
  text-align center

.skills__dot-progress-bar
  margin-top 0.75rem