.header__circle
    text-align center

.header__name
    text-transform uppercase
    text-align center

.header__firstname
    font-weight normal
    font-size 3.2rem
    line-height 3.2rem
    margin-top 1.488981537rem
    margin-bottom 0

.header__lastname
    text-transform uppercase
    font-weight bold
    font-size 3.8rem
    line-height 3.8rem
    margin-top -0.5rem

.header__job-title
    text-transform uppercase
    font-weight bold
    font-size 1.6rem
    text-align center
    margin-top 0.3rem
