.header
  &__photo
    text-align center

  &__name
    margin-top 1.6rem
    text-align center
    text-transform uppercase

  &__firstname
    font-size 3.6rem
    font-weight normal
    line-height 3.5rem
    letter-spacing -0.05rem

  &__lastname
    font-size 3.8rem
    font-weight bold
    line-height 3.6rem
    letter-spacing 0.2rem
    word-wrap break-word

  &__job-title
    margin-top 0.7rem
    font-size 1.6rem
    font-weight bold
    line-height 1.6rem
    text-align center
    text-transform uppercase
