.header__circle
  text-align center

.header__name
  margin-top 1.6rem
  text-align center
  text-transform uppercase

.header__firstname
  font-size 3.6rem
  font-weight normal
  line-height 3.5rem
  letter-spacing -0.05rem

.header__lastname
  font-size 3.8rem
  font-weight bold
  line-height 3.6rem
  letter-spacing 0.2rem
  word-wrap break-word

.header__job-title
  margin-top 0.9rem
  font-size 1.6rem
  font-weight bold
  line-height 1.6rem
  text-align center
  text-transform uppercase
