.circle
	display inline-block
	border-radius 50%
	background-color color-main
	box-shadow 0 0 0 2px color-main
	width (250px/initial-font-size)rem
	border-width (15px/initial-font-size)rem
	border-color #fff
	border-style solid
	padding-bottom @width - (2*@border-width)
	height 0	

@import 'circle_size_small.styl'