.circle_size_small
	width 78px
	border-width 3.5px
	padding-bottom @width - (2*@border-width)
	background-repeat no-repeat
	@media screen and (max-width: 1200px)
		width 62.4px
		border-width 2.8px
		padding-bottom @width - (2*@border-width)