@import '../../../styles/variables.styl'

.software
  &__section-header
    margin-top 1.3rem

  &__software-box
    display flex
    flex-flow row wrap
    justify-content space-between
    width 98.6%
    margin 0 auto

  &__title
    text-transform uppercase
    margin-bottom 0.95rem
    font normal 1.65rem/1 font-family

  &__software-item
    margin-top 1.6rem
    width 44%
	
    @media screen and (max-width: screen-sm)
      width 100%

