.software
  &__section-header
    margin-top 1.3rem

  &__software-box
    display flex
    flex-direction row
    flex-wrap wrap
    justify-content space-between
    width 98.6%
    margin 0 auto

  &__title
    text-transform uppercase
    margin-bottom 0.95rem
    font-size 1.65rem
    font-weight normal
    line-height 1em

  &__software-item
    margin-top 1.6rem
    width 44%
	
    @media screen and (max-width: screen-sm)
      width 100%

