@import '../../../styles/variables.styl'

.round-image
  display inline-block
  width 14.88981537rem
  height 0
  border-width 0.893388922rem 
  padding-bottom @width - (2*@border-width)
  background-color color-main
  border-color #fff
  border-style solid
  border-radius 50%
  box-shadow 0 0 0 2px color-main
  
  &_size_small
    width 4.645622394rem
    border-width 0.208457415rem
    padding-bottom @width - (2*@border-width)
    background-repeat no-repeat