include ../section-header/section-header.pug
include ../experience-list/experience-list.pug

mixin experience(content)
    - const { items } = content;
    section.experience
        .experience__section-header
            +sectionHeader({ title: 'experience', isDistant: true })
        section.experience__list
            +experienceList(items)