.list__item
    list-style none
    position relative
    margin-left 3.275759381rem
    margin-top 0.952948183rem

.list__item::before
    content ""
    position absolute
    border-radius 50%
    width 1.295413937rem
    height @width
    margin-right 5px
    top 0.297796307rem
    left -2.620607504rem
    background-color text-color

.list-item:first-child
    margin-top 0