@import 'list__item.styl'
@import 'list__title.styl'
@import 'list__title--blue.styl'
@import 'list__date.styl'
@import 'list__place.styl'
@import 'list__description.styl'

.list
	margin 0
	padding 0
	margin-top 25px