.list__item
	list-style none
	position relative
	margin-left (55px/initial-font-size)rem
	margin-top (16px/initial-font-size)rem

.list__item::before
	content ""
	position absolute
	border-radius 50%
	width (21.75px/initial-font-size)rem
	height @width
	margin-right 5px
	top (5px/initial-font-size)rem
	left (-44px/initial-font-size)rem
	background-color text-color

.list-item:first-child
	margin-top 0