.list__item
	list-style none
	position relative
	margin-left 55px
	margin-top 16px

.list__item::before
	content ""
	position absolute
	border-radius 50%
	width 21.75px
	height 21.75px
	top 5px
	left -44px
	background-color text-color

.list-item:first-child
	margin-top 0