@import '../../../styles/variables.styl'

.progress-bar
  position relative
  height 1.488981537rem
  width 100%
  background color-light

  &__inner
    height inherit
    background color-main