include ../section-header/section-header.pug

mixin profile(content)
    - const { text = '', markedText = ['']} = content;
    - const title = 'profile';
    - const imagePath = 'assets/img/profile-icon.svg';
    - const pattern = markedText.map((value) => {
    -   return value.replace(/[.*+?^${}()|[\]\\]/g, '\\$&');
    - }).join('|');
    - const findMarkedRegExp = new RegExp(`(${pattern})`, 'g');
    - const splittedText = text.split(findMarkedRegExp);
    section.profile
        .profile__section-header
            +sectionHeader({ title })
        p.profile__text
            each substring in splittedText
                - if (markedText.indexOf(substring) !== -1) {
                strong= substring
                - } else {
                = substring
                - }