@import '../../../styles/variables.styl'

.contact
  &__section-header
    margin-top 1.191185229rem

  &__box
    display table

  &__row
    display table-row

  &__item
    display table-cell
    padding-top 2.1rem
    font normal 1.43rem/1 font-family
    word-break break-word

    ~/__row:first-child &
      padding-top 1.9rem

    &_color_blue
      width 8.5rem
      padding-right 2.4rem
      color color-main
      font-weight bold
      text-transform uppercase

  &__link
    color text-color
    text-decoration none
	
    &:hover, &:active
      color color-main
	  
    &:visited
      color text-color
      