include ../section-header/section-header.pug
include ../experience-list/experience-list.pug

mixin education(content)
    - const { items } = content;
    - const title = 'education';
    section.education
        .education__section-header
            +sectionHeader({ title, isDistant: true })
        .education__list
            +experienceList(items, {titleColor: "blue"})