include ../section-header/section-header.pug
include ../list/list.pug

mixin education(content)
    section.education
        .education__section-header
            +sectionHeader("education")
        .education__list
            +list(content.items, {titleColor: "blue"})