include ../section-header/section-header.pug
include ../list/list.pug

mixin education(content)
    - const { items } = content;
    section.education
        .education__section-header
            +sectionHeader({ title: 'education', isDistant: true })
        .education__list
            +list(items, {titleColor: "blue"})