mixin circle(settings)
    - var sizeClass = (settings && settings.size) ? 'circle_' + settings.size : '';
    - var bgImg = (settings && settings.image) ? 'background-image: url('+ settings.image +')':'';
    - var className = 'circle ' + sizeClass;
    div(class=className style=bgImg)