mixin circle(settings)
    - const options = settings || {};
    - const { image, size } = options;
    - const bgImg = image ? `background-image: url(${image})` : '';
    - const sizeModifiers = { small: 'circle_size_small' };
    - let className = 'circle';
    - if (size in sizeModifiers) {
    -   className += ` ${sizeModifiers[size]}`;
    - }
    div(class=className style=bgImg)