mixin circle(settings)
    - const bgImg = (settings && settings.image) ? `background-image: url(${settings.image})`:'';
    - const modificators = { size: 'small' };
    - let className = 'circle';
    - for (let key in settings) {
    -   if (key in modificators) className += ` circle_${modificators[key]}`;
    - }
    div(class=className style=bgImg)