.section-header
  display flex
  flex-direction row
  align-items center
  align-content space-between

.section-header__circle
  flex-grow 0

.section-header__line
  height 0.357355569rem
  flex-basis 0px
  flex-grow 1
  background-color color-main

.section-header__title
  margin-left 0.9rem
  margin-right 0.5rem
  color color-main
  text-transform uppercase
  letter-spacing 0.1rem

.section-header__title_distant
  margin-left 1.3rem