.section-header
  display flex
  flex-direction row
  align-items center
  align-content space-between

  &__circle
    flex-grow 0

  &__line
    height 0.357355569rem
    flex-basis 0px
    flex-grow 1
    background-color color-main

  &__title
    margin-left 0.9rem
    margin-right 0.5rem
    font-size 2.6rem
    color color-main
    text-transform uppercase
    letter-spacing 0.1rem
    &_distant
      margin-left 1.3rem