@import '../../../styles/variables.styl'

.section-header
  display flex
  flex-direction row
  align-items center
  align-content space-between

  &__icon
    flex 4.645622394rem 0 0
    height 4.645622394rem
    background color-main no-repeat
    background-size cover
    border 0.208457415rem solid white
    border-radius 50%
    box-shadow 0 0 0 2px color-main

  &__line
    height 0.357355569rem
    flex-basis 0px
    flex-grow 1
    background-color color-main

  &__title
    margin-left 0.9rem
    margin-right 0.5rem
    font-size 2.6rem
    color color-main
    text-transform uppercase
    letter-spacing 0.1rem
	
    &_distant
      margin-left 1.3rem