mixin progressBar(max, value)
	- var maxWidth = (max*100/1349)
	- var valueWidth = (value*100/max)
	.progress-bar(style='width: '+ maxWidth +'vw')
		.progress-bar__inner(style='width: '+ valueWidth + '%')