include ../circle/circle.pug

mixin sectionHeader(settings)
    - const { title='', isDistant=false } = settings;
    - const image = require(`../../assets/img/${title}-icon.svg`);
    - const titleModifiers = { distant: 'section-header__title_distant' };
    - let titleClass = 'section-header__title';
    - if (isDistant) {
    -   titleClass += ` ${titleModifiers.distant}`;
    - }
    header.section-header
        .section-header__circle
            +circle({ size: 'small', image: image })
        h2(class = titleClass)= title
        .section-header__line