mixin sectionHeader(headerInfo)
	header.section-header
		.circle.section-header__circle(style='background-image: url('+headerInfo.image+')')
		h2.section-header__title= headerInfo.title
		.section-header__line