include ../section-header/section-header.pug

mixin contact(content)
    - const { address, email, phone, website } = content;
    - const phoneNumber = phone.replace(/\(0\)|\s+|-/g,'');
    - const title = 'contact';
    section.contact
        .contact__section-header
            +sectionHeader({ title })
        .contact__box
            .contact__row
                .contact__item.contact__item_color_blue address
                .contact__item= address
            .contact__row
                .contact__item.contact__item_color_blue e-mail
                .contact__item
                    a.contact__link(href="mailto: " + email)= email
            .contact__row
                .contact__item.contact__item_color_blue phone
                .contact__item
                    a.contact__link(href="tel: +7" + phoneNumber)= phone
            .contact__row
                .contact__item.contact__item_color_blue website
                .contact__item
                    a.contact__link(href=website target="_blank" rel="noopener noreferrer")= website
            