include ../section-header/section-header.pug

mixin contact(content)
    section.contact
        .contact__section-header
            +sectionHeader("contact")
        .contact__box
            .contact__row
                .contact__item.contact__item_color_blue address
                .contact__item= content.address
            .contact__row
                .contact__item.contact__item_color_blue e-mail
                .contact__item
                    a.contact__link(href="mailto: " + content.email)= content.email
            .contact__row
                .contact__item.contact__item_color_blue phone
                .contact__item
                    - var phone = content.phone.replace(/\(0\)|\s+|-/g,'');
                    a.contact__link(href="tel: +7" + phone)= content.phone
            .contact__row
                .contact__item.contact__item_color_blue website
                .contact__item
                    a.contact__link(href=content.website target="_blank" rel="noopener noreferrer")= content.website
            