include ../section-header/section-header.pug

mixin contact(content, items)
	section.contact
		+sectionHeader(content)
		table.contact__table
			each val, index in items
				tr
					td.contact__cell.contact__cell--blue= index
					td.contact__cell= val

+contact(contactContent, contactItems)