include ../section-header/section-header.pug

mixin contact(content)
	section.contact
		+sectionHeader("contact")
		table.contact__table
			each val, index in content
				tr
					td.contact__cell.contact__cell--blue= index
					td.contact__cell= val