include ../section-header/section-header.pug

- var contactContent = {
-	title: 'contact',
-	image: require('./assets/img/contact-icon.svg')
-	}

- var contactItems = {
-	address: 'Main Street, City',
-	email: 'contact@domain.com',
-	phone: '555-555-555',
-	website: 'www.yourweb.com'
-	}

mixin contact(content, items)
	section.contact
		+sectionHeader(content)
		table.contact__table
			each val, index in items
				tr
					td.contact__cell.contact__cell--blue= index
					td.contact__cell= val

+contact(contactContent, contactItems)