include ../section-header/section-header.pug

mixin contact(content)
	section.contact
		.contact__section-header
			+sectionHeader("contact")
		.contact__box
			each val, index in content
				.contact__row
					.contact__item.contact__item_color_blue= index
					.contact__item= val