include ../section-header/section-header.pug

mixin contact(content)
	section.contact
		.contact__section-header
			+sectionHeader("contact")
		table.contact__table
			each val, index in content
				tr
					td.contact__cell.contact__cell_color_blue= index
					td.contact__cell= val