mixin dotProgressBar(max, value)
    .dot-progress-bar
        - for (var i = 0; i < value; i++){
        .dot-progress-bar__item.dot-progress-bar__item_filled
        - }
        - for (var i = value; i < max; i++){
        .dot-progress-bar__item
        - }