mixin header(content)
    header.header
        section.header__circle
            .circle
        h1.header__name
            p.header__firstname= content.firstName
            p.header__lastname= content.lastName
        p.header__job-title= content.jobTitle