- var headerContent = {
-	firstName: 'name here',
-	lastName: 'surname',
-	jobTitle: 'graphic designer'
-}

mixin header(headerInfo)
	section.header
		.circle.header__circle
		h1.header__firstname= headerInfo.firstName
		h1.header__lastname= headerInfo.lastName
		h2.header__job-title= headerInfo.jobTitle

+header(headerContent)