- var headerContent = {
-	firstName: 'name here',
-	lastName: 'surname',
-	jobTitle: 'graphic designer'
-}

mixin header(content)
	section.header
		.circle.header__circle
		h1.header__firstname= content.firstName
		h1.header__lastname= content.lastName
		h2.header__job-title= content.jobTitle

+header(headerContent)