include ../section-header/section-header.pug
include ../progress-bar/progress-bar.pug

mixin software(content)
    - const title = 'software';
    - const imagePath = 'assets/img/software-icon.svg';
    section.software
        .software__section-header
            +sectionHeader({ title, isDistant: true })
        .software__software-box
            each val in content.items
                - const { title, value } = val;
                .software__software-item
                    h3.software__title= title
                    .software__progress-bar
                        +progressBar({ value })