@import '../../styles/variables.styl'

*
  box-sizing border-box
  margin 0
  padding 0

html
  font 16.79px font-family
  color text-color
  background white
  
  @media screen and (max-width: screen-lg)
    font-size 13.43px