include ../section-header/section-header.pug
include ../progress-bar-circle/progress-bar-circle.pug

mixin skills(content)
	section.skills
		+sectionHeader("skills")
		.skills__skill-box
			each val in content.items
				.skills__skill-item
					h3.skills__title= val.title
					.skills__progress-bar-circle
						+progressBarCircle(content.max, val.value)