include ../section-header/section-header.pug
include ../progress-bar/progress-bar.pug

mixin skills(content, skillsArray)
	section.skills
		+sectionHeader(content)
		.skills__skill-box
		each val in skillsArray
			.skills__skill-item
				p.skill-item__title= val.title
				+progressBar(val.max, val.value)

+skills(skillsContent, skillsData)