*
	box-sizing border-box
html
	font-family font-family
	font-size fs=initial-font-size
	color text-color
	@media screen and (max-width: 1200px)
		font-size fs*0.8

.container
	width percentage(1220px/initial-width)
	margin-left percentage(68px/initial-width)
	padding 64px 0 104px 0
	display flex
	flex-direction row
	justify-content space-between
	flex-wrap wrap
	@media screen and (max-width: 1042px)
		padding 50px 0 70px 0

.left-column
	width percentage(450px/1220px)
	display flex
	flex-direction column
	justify-content flex-start
	@media screen and (max-width: 1042px)
		width 100%

.left-column__header
	margin 32px 0
	padding-left percentage(17px/447.66px)
	@media screen and (max-width: 1042px)
		margin 0

.left-column__contact, .left-column__profile, .left-column__skills, .right-column__experience, .right-column__software
	margin-top 32px

.right-column__education
	@media screen and (max-width: 1042px)
		margin-top 32px

.right-column
	width percentage(688px/1220px)
	display flex
	flex-direction column
	justify-content space-between
	@media screen and (max-width: 1042px)
		width 100%

h1, h2, h3, p
	margin 0

p
	line-height 20px
	font-size p-size

h2
	font-size h2-size

h3
	font-size h3-size
	font-weight normal