*
	box-sizing border-box
html
	font-family font-family
	font-size fs=initial-font-size
	color text-color
	@media screen and (max-width: 1200px)
		font-size fs*0.8

.container
	width 91.5%
	margin-left percentage(60px/initial-width)
	padding 54px 0 104px 0
	display flex
	flex-direction row
	justify-content space-between
	flex-wrap wrap
	@media screen and (max-width: 1042px)
		padding 50px 0 70px 0

h1, h2, h3, p
	margin 0

p
	line-height 20px
	font-size p-size

h2
	font-size h2-size

h3
	font-size h3-size
	font-weight normal