.container
  width 91.5%
  margin 0 auto
  padding 3.216200119rem 0 6.194163192rem 0
  display flex
  flex-direction row
  justify-content space-between
  flex-wrap wrap

.container__left-column
  width 36.885245901639344%
  display flex
  flex-direction column
  justify-content flex-start
  @media screen and (max-width: screen-lg)
    width 100%

.container__right-column
  width 56.393442622950815%
  display flex
  flex-direction column
  justify-content flex-start
  @media screen and (max-width: screen-lg)
    width 100%

.container__header
  margin 2.02501489rem 0
  padding-left 3.797524907295715%
  @media screen and (max-width: screen-lg)
    margin 0

.container__contact, .container__profile, .container__skills, .container__experience, .container__software
  margin-top 2.02501489rem

.container__education
  @media screen and (max-width: screen-lg)
    margin-top 2.02501489rem