.left-column
	width percentage(450px/1220px)
	display flex
	flex-direction column
	justify-content space-between
	@media screen and (max-width: 1042px)
		width 100%

.left-column__header
	margin block-margin-top 0
	padding-left percentage(17px/447.66px)
	@media screen and (max-width: 1042px)
		margin 0

.left-column__contact, .left-column__profile, .left-column__skills
	margin-top block-margin-top

.right-column__education
	@media screen and (max-width: 1042px)
		margin-top block-margin-top