.right-column
	width percentage(688px/1220px)
	display flex
	flex-direction column
	justify-content space-between
	@media screen and (max-width: screen-lg)
		width 100%

.right-column__experience, .right-column__software
	margin-top block-margin-top