@import 'fonts.styl'
@import 'variables.styl'
@import '../common.blocks/circle/styl/circle.styl'
@import '../common.blocks/header/styl/header.styl'

html
	font-family font-family
	font-size font-size
	text-color text-color
	line-height line-height