@import 'fonts.styl'
@import 'variables.styl'
@import '../common.blocks/circle/styl/circle.styl'
@import '../common.blocks/section-header/styl/section-header.styl'
@import '../common.blocks/progress-bar/styl/progress-bar.styl'
@import '../common.blocks/progress-bar-circle/styl/progress-bar-circle.styl'
@import '../common.blocks/list/styl/list.styl'
@import '../common.blocks/header/styl/header.styl'
@import '../common.blocks/profile/styl/profile.styl'
@import '../common.blocks/contact/styl/contact.styl'
@import '../common.blocks/skills/styl/skills.styl'
@import '../common.blocks/education/styl/education.styl'
@import '../common.blocks/experience/styl/experience.styl'
@import '../common.blocks/software/styl/software.styl'

*
	box-sizing border-box
html
	font-family font-family
	font-size font-size
	color text-color

.container
	width 1220px
	margin-left 68px
	padding 84px 0 104px 0
	display flex
	flex-direction row
	justify-content space-between

.left-column
	width 450px
	display flex
	flex-direction column
	justify-content space-between

.right-column
	width 685px
	display flex
	flex-direction column
	justify-content space-between

h1, h2, h3, p
	margin 0

p
	line-height 20px
h2
	font-size h2-size
h3
	font-size h3-size
	font-weight normal