// colors
color-main = #3d6cb0
color-light = #e6e6e6
text-color = #000

// text
font-family = 'PT Sans', Arial, sans-serif
header-margin-top = 1.191185229rem

// break-points
screen-sm = 500px
screen-lg = 1042px