// colors
color-main = #3d6cb0
color-light = #e6e6e6
text-color = #000

// font-sizes
font-size = 16.79px

font-family = 'PT Sans', sans-serif

full-width = 1349px

// break-points
screen-xs = 0
screen-sm = 480px
screen-md = 768px
screen-lg = 992px
screen-xl = 1200px