// colors
color-main = #3d6cb0
color-light = #e6e6e6
text-color = #000

/*initial-width = 1349px*/

// font-sizes
initial-font-size = 16.79px
p-size = 16.79px
h2-size = 2.6rem
h3-size = 1.60810006rem

font-family = 'PT Sans', sans-serif

// margins
block-margin-top = 2.02501489rem
header-margin-top = 1.191185229rem

// break-points
screen-sm = 500px
screen-lg = 1042px