include common.blocks/header/header.pug
include common.blocks/profile/profile.pug
include common.blocks/contact/contact.pug
include common.blocks/skills/skills.pug
include common.blocks/education/education.pug
include common.blocks/experience/experience.pug
include common.blocks/software/software.pug

- var data = require('./assets/data/data.json')

doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name="viewport" content="initial-scale=1.0, width=device-width")
        meta(name="description" content="CV template made with Pug, Stylus, BEM and Webpack")
        meta(name="keywords" content="HTML, CSS, Pug, Stylus, BEM, Webpack, CV template")
        link(rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png")
        link(rel="manifest" href="/assets/favicons/site.webmanifest")
        link(rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#5bbad5")
        meta(name="msapplication-TileColor" content="#2d89ef")
        meta(name="theme-color" content="#ffffff")
        title CV Project
    body
        main.container
            .container__left-column
                .container__header
                    +header(data.header)
                .container__profile
                    +profile(data.profile)
                .container__contact
                    +contact(data.contact)
                .container__skills
                    +skills(data.skills)
            .container__right-column
                .container__education
                    +education(data.education)
                .container__experience
                    +experience(data.experience)
                .container__software
                    +software(data.software)
