include common.blocks/header/header.pug
include common.blocks/profile/profile.pug
include common.blocks/contact/contact.pug
include common.blocks/skills/skills.pug
include common.blocks/education/education.pug
include common.blocks/experience/experience.pug
include common.blocks/software/software.pug

- var data = require('./assets/data/data.json')

doctype html
html
	head
	meta(charset = 'utf-8')
	meta(name='viewport', content="inital-scale=1.0, width=device-width")
	title CV Project
	body
		.container
			.left-column
				.left-column__header
					+header(data.header)
				.left-column__profile
					+profile(data.profile)
				.left-column__contact
					+contact(data.contact)
				.left-column__skills
					+skills(data.skills)
			.right-column
				.right-column__education
					+education(data.education)
				.right-column__experience
					+experience(data.experience)
				.right-column__software
					+software(data.software)
