include common.blocks/header/header.pug
include common.blocks/profile/profile.pug
include common.blocks/contact/contact.pug
include common.blocks/skills/skills.pug
include common.blocks/education/education.pug
include common.blocks/experience/experience.pug
include common.blocks/software/software.pug

- var data = require('./assets/data/data.json')

doctype html
html
	head
	meta(charset = 'utf-8')
	meta(name='viewport', content="inital-scale=1.0, width=device-width")
	title CV Project
	body
		+header(data.header)
		+profile(data.profile)
		+contact(data.contact)
		+skills(data.skills)
		+education(data.education)
		+experience(data.experience)
		+software(data.software)
